<!DOCTYPE html>
<html>
<head>
  <title>Netverify</title>
  <%= stylesheet_link_tag    "netverify/application", media: "all" %>
  <%= javascript_include_tag "netverify/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
